# --- CONFIGURACIÓN DE PRODUCCIÓN (PythonAnywhere / Servidor) ---

# 1. Tipo de Base de Datos
# Déjalo vacío o pon 'mysql' para usar el servidor MySQL.
DB_TYPE=mysql

# 2. Credenciales de MySQL (Datos reales de tu servidor)
DB_HOST=whcol.mysql.pythonanywhere-services.com
DB_NAME=whcol$default
DB_USER=whcol
DB_PASSWORD=TU_CONTRASEÑA_REAL_AQUI

# 3. Seguridad
# ¡CRÍTICO! Genera una clave aleatoria larga para esto.
SECRET_KEY=z7d8f7s8d7f8s7d8f7s8d7f8sd7f8s7d8f
# Contraseña para subir archivos CSV (Admin)
UPDATE_PASSWORD=contraseña_segura_admin

# 4. Otras configuraciones
DEBUG=False